<script>
  import { onMount, onDestroy } from 'svelte';
  import { browser } from '$app/environment';

  let mapElement;
  let map;

  onMount(async () => {
    if (browser) {
      const L = await import('leaflet');
      await import('leaflet-providers');

      let map = L.map(mapElement).setView([55.778853, 12.5243751], 9);
      map.scrollWheelZoom.disable(); // Avoid accidentally zooming out when scolling down the page
      L.tileLayer
        .provider('Thunderforest.Transport', { apikey: 'bd5d9852bb9643f98b99a5e0be6f6b39' })
        .addTo(map);
      //L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map)

      const markerData = [
        {
          latLng: [55.778853, 12.5243751],
          popup: 'Zleep Hotel, Lyngby',
        },
        {
          latLng: [55.7852, 12.5212],
          popup: 'DTU, Technical University of Denmark',
        },
        {
          latLng: [55.67301, 12.56511],
          popup: 'Copenhagen Central Station',
          secondary: true,
        },
        {
          latLng: [55.6295641, 12.649417],
          popup: 'Copenhagen Airport',
          secondary: true,
        },
      ];

      L.Icon.Default.prototype.options.imagePath = 'leaflet/';
      markerData.map((data) => {
        L.Icon.Default.prototype.options.className = data.secondary
          ? 'leaflet-marker-icon-secondary'
          : '';
        L.marker(data.latLng).bindPopup(data.popup).addTo(map);
      });
    }
  });

  onDestroy(async () => {
    if (map) {
      console.log('Unloading Leaflet map.');
      map.remove();
    }
  });
</script>

<main>
  <div bind:this={mapElement} />
</main>

<style>
  @import 'leaflet/dist/leaflet.css';

  main div {
    height: 20rem;
    border-radius: 5px;
  }

  :global(.leaflet-marker-icon-secondary) {
    filter: opacity(0.7) brightness(1.2);
  }

  /* Bodge: Reverse global simple.css buttons */
  :global([role='button']) {
    padding: 0;
    margin: 0;
    border-radius: 0;
    background: none;
  }

  :global(.leaflet-touch .leaflet-bar a:first-child) {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  :global(.leaflet-touch .leaflet-bar a:last-child) {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
</style>
