<script>
  import { formatDate } from '$lib/utils';
  export let sortedPosts = [];
</script>

<ul>
  {#each sortedPosts as post}
    <li>
      {formatDate(post.meta.date)}: <a href={post.path}>{post.meta.title}</a>
    </li>
  {/each}
</ul>
