<script>
  const schedule = [
    ['Fri', '28/4', 'Arrival, opening ceremony, practice session', [
      ['8:00', '15:00', 'Arrivals and possibly check-in at hotel', 'all', 'Hotel+DTU'],
      ['14:00', '15:00', 'Lunch', 'all', 'DTU'],
      ['15:00', '16:00', 'Opening ceremony', 'all', 'DTU'],
      ['16:00', '18:00', 'Practice session', 'all', 'DTU'],
      ['18:00', '19:30', 'Dinner', 'all', ''],
      ['20:00', '21:30', 'Entertainment', 'c', ''],
      ['20:00', '21:00', 'GA meeting', 'l', 'DTU?'],
      ['21:30', '', 'Transfer to hotel', 'all', ''],
    ]],
    ['Sat', '29/4', 'Contest day 1', [
      ['', '', 'Breakfast', 'all', 'Hotel'],
      ['9:00', '14:00', 'Contest 1', 'all', 'DTU'],
      ['14:00', '15:00', 'Lunch', 'all', 'DTU'],
      ['15:00', '16:30', 'Analysis and appeals', 'all', 'DTU'],
      ['16:30', '18:00', 'Task solution presentations', 'all', 'DTU'],
      ['18:00', '19:30', 'Dinner', 'all', ''],
      ['20:00', '21:30', 'Entertainment', 'c', ''],
      ['20:00', '21:00', 'GA meeting', 'l', ''],
      ['21:30', '', 'Transfer to hotel', 'all', ''],
    ]],
    ['Sun', '30/4', 'Contest day 2', [
      ['', '', 'Breakfast', 'all', 'Hotel'],
      ['9:00', '14:00', 'Contest 2', 'all', 'DTU'],
      ['14:00', '15:00', 'Lunch', 'all', 'DTU'],
      ['15:00', '16:30', 'Analysis and appeals', 'all', 'DTU'],
      ['16:30', '18:00', 'Task solution presentations', 'all', 'DTU'],
      ['18:00', '19:30', 'Dinner', 'all', ''],
      ['20:00', '21:30', 'Entertainment', 'c', ''],
      ['20:00', '21:00', 'GA meeting', 'l', ''],
      ['21:30', '', 'Transfer to hotel', 'all', ''],
    ]],
    ['Mon', '1/5', 'Excursions, closing ceremony, dinner', [
      ['', '', 'Breakfast', 'all', 'Hotel'],
      ['', '', 'Excursions', 'all', ''],
      ['', '', 'Closing ceremony', 'all', ''],
      ['', '', 'Dinner', 'all', ''],
    ]],
    ['Tue', '2/5', 'Departure', [
      ['', '', 'Breakfast', 'all', 'Hotel'],
      ['8:00', '12:00', 'Departures', 'all', ''],
    ]]
  ];

  const filterOptions = [
    { code: 'all', display: 'Everyone' },
    { code: 'c', display: 'Contestants' },
    { code: 'l', display: 'Leaders' },
  ];

  $: scheduleFiltered = schedule.map(day => {
    if (filter === 'all') return day;
    return [day[0], day[1], day[2], day[3].filter(row => row[3] === filter || row[3] === 'all')];
  });

  let filter = 'all';
</script>

{#each scheduleFiltered as day}
  <details>
    <summary>
      <span class="outer">
        <strong>
          <span>{day[0]}</span>
          <span class="right">{day[1]}</span>
        </strong>
      </span>:
      {day[2]}
    </summary>
    <form>
      Filter:
      {#each filterOptions as option}
        <label class="filter">
          <input type="radio" bind:group={filter} name="filter" value={option.code}>
          {option.display}
        </label>
      {/each}
    </form>
    <strong>Tentative!</strong>
    <div>
      <table>
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Activity</th>
            <th scope="col">Location</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {#each day[3] as row}
            <tr>
              <td>{row[0]} &mdash; {row[1]}</td>
              <td>{row[2]}</td>
              <td>{row[4]}</td>
              <td>{row[3].replace(/^all$/, 'Everyone').replace(/^c$/, 'Contestants').replace(/^l$/, 'Leaders')}</td>
            </tr>
          {/each}
        </tbody>
      </table>
    </div>
  </details>
{/each}

<style>
  span.outer {
    display: inline-block;
    min-width: 5rem;
  }

  span.right {
    float: right;
  }

  summary {
    font-weight: normal;
  }

  div {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  td, th {
    text-align: center;
  }

  label.filter {
    display: inline;
  }
</style>
