<script>
  import { page } from '$app/stores';
</script>

<nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <div />
  {#if $page.data.session}
    <a href="/registration">Registration</a>
    <a href="/sign-out" class="danger">Sign out</a>
  {:else}
    <a href="/sign-in">Sign in</a>
  {/if}
</nav>

<style>
  nav div {
    display: inline;
    margin-right: 0.26rem;
    border-left: 1px solid var(--border);
  }

  .danger {
    color: var(--logo-danger);
    border-color: var(--logo-danger);
  }

  .danger:hover {
    color: var(--accent-danger);
    border-color: var(--accent-danger);
  }
</style>
