<script>
  export let form;

  let policy = false;

  $: error = form?.error;
</script>

<h1>Create a new account</h1>

<form method="POST">
  {#if error}
    <p class="bg-b">{error}</p>
  {/if}
  <label for="email">Email</label>
  <input type="email" name="email" value={form?.email ?? ''} autofocus />
  <label for="password">Password</label>
  <input type="password" name="password" />
  <label for="key">Invitation key</label>
  <input type="text" name="key" value={form?.key ?? ''} />
  <label>
    <input type="checkbox" name="policy" bind:checked={policy} />
    I accept the <a href="/privacy-policy">privacy policy</a>.
  </label>
  <br />
  <button disabled={!policy}>Create account</button>
</form>

<p>Already have an account? <a href="/sign-in">Sign in</a>.</p>
