<script>
  import Avatar from './Avatar.svelte';
  import { fieldsForRole } from '$lib/profileFields';

  export let data;
  export let form;

  let profileForm;

  const ownFields = fieldsForRole(data.role);
  let fieldValues = {};
  let fieldErrors = {};
  for (const field of ownFields) {
    fieldValues[field.id] = (form && form[field.id]?.value) || data.dbValues[field.id];
    fieldErrors[field.id] = form && form[field.id]?.error;
  }
</script>

<a href="/registration">Back</a>

<h1>Registration for {data.email}</h1>

<form method="POST" bind:this={profileForm}>
  {#if form?.error}
    <p class="bg-b">{form.error}</p>
  {/if}
  {#if form?.message}
    <p><em class="bg-o">{form.message}</em></p>
  {/if}
  {#if !form?.error && data.role !== 'guide_applicant'}
    <p>
      <b>Status:</b>
      {#if data.numMissingFields}
        You have yet to fill out <span class="required bg-y">{data.numMissingFields}</span> required {data.numMissingFields === 1 ? 'field' : 'fields'}. You don't have to fill these out immediately, but remember to come back before the deadline. After clicking "Save", you can safely leave this page.
      {:else}
        You have filled out all required fields.
      {/if}
    </p>
  {/if}

  {#each ownFields as field}
    <label for={field.id} class="valErr">
      {field.display}
      {#if !field.optional}<span class="required">*</span>{/if}
    </label>
    {#if field.description}
      <small>{@html field.description}</small>
      <br />
    {/if}
    {#if fieldErrors[field.id]}
      <span class="error">{fieldErrors[field.id]}</span>
      <br />
    {/if}
    {#if field.images}
      {#each field.images as image}
        <img src={image} alt={image} style="max-width: min(35rem, 100%)" />
        <br />
      {/each}
    {/if}
    {#if field.type === 'textarea'}
      <textarea name={field.id} maxlength={field.maxLength+1} bind:value={fieldValues[field.id]} class:valError={fieldErrors[field.id]} />
    {:else if field.type === 'avatar'}
      <Avatar
        bind:url={fieldValues[field.id]}
        width={10}
        on:upload={() => {profileForm.requestSubmit();}}
      />
      <input type="hidden" name={field.id} bind:value={fieldValues[field.id]} />
    {:else if field.type === 'text'}
      <input
        type="text"
        name={field.id}
        bind:value={fieldValues[field.id]}
        maxlength={field.maxLength}
      />
    {:else if field.type === 'number'}
      <input type="number" name={field.id} bind:value={fieldValues[field.id]} />
    {:else if field.type === 'date'}
      <input type="date" name={field.id} bind:value={fieldValues[field.id]} />
    {:else if field.type === 'select'}
      <select name={field.id}>
        <option value=""></option>
        {#each field.options as option}
          <option value={option} selected={option === fieldValues[field.id]}>{option}</option>
        {/each}
      </select>
    {/if}
  {/each}
  <br />
  <button>Save</button>
  <a href="/registration">Done for now</a>
</form>

<style>
  span.required {
    color: var(--accent-danger);
  }

  img {
    border-radius: 0;
  }
</style>
