<script>
  export let data;
  export let form;
</script>

<h1>Change password for {data.email}</h1>

<form method="POST">
  {#if form?.error}
    <p class="bg-b">{form.error}</p>
  {/if}
  {#if form?.message}
    <p><em class="bg-o">{form.message}</em></p>
  {/if}
  <label for="password">New password</label>
  <input type="password" name="password" />
  <br />
  <button type="submit">Change password</button>
</form>

<br />
<a href="/registration">Go back</a>
