<script>
  import { page } from '$app/stores';
  import { goto } from '$app/navigation';

  export let form;

  let hashError;
  const hashErrorArr = $page.url.hash.match('error_description=([^&]*)');
  if (hashErrorArr) hashError = hashErrorArr[1].replaceAll('+', ' ');

  $: error = form?.error || hashError;
  $: message = $page.url.searchParams.get('message');

  // When a user registers and clicks their verification link (going to /registration), they are
  // redirected to /sign-in because they don't have a session yet. But a second later they get one.
  $: if ($page.data.session) goto('/registration');
</script>

<h1>Sign in</h1>

<form method="POST">
  {#if error}
    <p class="bg-b">{error}</p>
    <p><em class="bg-o">Email link not working? <a href="/forgot-password">Send a new link</a>.</em></p>
  {/if}
  {#if message}
    <p><em class="bg-o">{message}</em></p>
  {/if}
  <label for="email">Email</label>
  <input type="email" name="email" value={form?.email ?? ''} autofocus />
  <label for="password">Password</label>
  <input type="password" name="password" />
  <br />
  <button>Sign in</button>
</form>

<p>Don't have an account? <a href="/sign-up">Create a new account</a>.</p>
<p>Forgot your password? <a href="/forgot-password">Send magic sign-in link to your email</a>.</p>
